* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  background: linear-gradient(135deg, #2d6a4f, #40916c);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  width: 700px;
  max-width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

.hero-content button {
  padding: 15px 35px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: white;
  color: #2d6a4f;
  font-weight: bold;
}